name: 'base'

on:
  push:
    paths:
      - 'run.sh'
      - '.github/workflows/base.yml'
      - 'build_*.dockerfile'
      - 'run_*.dockerfile'
      - 'ls_base.dockerfile'
  workflow_dispatch:
  schedule:
    - cron: '0 0 1,16 * *'

jobs:

  base:
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        task: [
          { distro: arch,   version: ''       },
          { distro: debian, version: buster   },
          { distro: debian, version: bullseye },
          { distro: fedora, version: 32       },
          { distro: fedora, version: 33       },
          { distro: ubuntu, version: 18       },
          { distro: ubuntu, version: 20       },
          { distro: ls,     version: ''       },
        ]
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v2

    - run: ./run.sh -c $DISTRIBUTION $VERSION
      env:
        DISTRIBUTION: ${{ matrix.task.distro }}
        VERSION:      ${{ matrix.task.version }}

    - name: Login to DockerHub
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}

    - name: Deploy to DockerHub
      run: ./run.sh base

# FIXIT: ensure that PR's do not trigger deploy steps!
# FIXIT: ensure that branches different from 'master' do not trigger deploy steps!
# FIXIT: ensure that PR's cannot access/use secrets!
