name: 'bookworm'

on:
  push:
    paths:
      - 'run.sh'
      - '.github/workflows/bookworm.yml'
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:

  build:
    strategy:
      fail-fast: false
      matrix:
        backend:
          - mcode
          - llvm-14
          - gcc-12.3.0
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3

    - name: Clone ghdl
      run: git clone https://github.com/ghdl/ghdl

    - name: Build 'ghdl' and 'pkg' images
      run: ./run.sh -b
      env:
        TASK: bookworm+${{ matrix.backend }}

    - name: Deploy to DockerHub
      if: github.event_name != 'pull_request' && github.repository == 'ghdl/docker'
      uses: pyTooling/Actions/with-post-step@r0
      with:
        main: |
          # Release
          echo '${{ secrets.DOCKER_PASS }}' | docker login docker.io -u '${{ secrets.DOCKER_USER }}' --password-stdin
          ./run.sh ""
        post: docker logout docker.io

  trigger:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: GHDL_BOT_TOKEN=${{ github.token }} ./.github/trigger.sh vunit
