name: 'cosim'

on:
  push:
    paths:
      - '.github/workflows/cosim.yml'
  workflow_dispatch:
  repository_dispatch:
    types: [ cosim ]
  schedule:
    - cron: '0 0 * * 5'

env:
  DOCKER_BUILDKIT: 1

jobs:


  base:
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        img: [ mcode, py, vunit-cocotb ]
    runs-on: ubuntu-latest
    env:
      IMG: ${{ matrix.img }}
    steps:

    - uses: actions/checkout@v2
      with:
        repository: ghdl/ghdl-cosim

    - name: Build image
      run: docker build -t ghdl/cosim:${IMG} - < docker/${IMG}.dockerfile

    - name: Login to DockerHub
      if: github.event_name != 'pull_request' && github.repository == 'ghdl/docker'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}

    - name: Docker push
      if: github.event_name != 'pull_request' && github.repository == 'ghdl/docker'
      run: docker push ghdl/cosim:${IMG}


  build:
    needs: base
    strategy:
      fail-fast: false
      matrix:
        img: [ matplotlib, xyce, octave ]
    runs-on: ubuntu-latest
    env:
      IMG: ${{ matrix.img }}
    steps:

    - uses: actions/checkout@v2
      with:
        repository: ghdl/ghdl-cosim

    - name: Build images
      run: |
        docker build -t ghdl/cosim:${IMG}-slim - < docker/${IMG}.dockerfile
        docker build -t ghdl/cosim:${IMG} --build-arg IMAGE="ghdl/cosim:${IMG}-slim" - < docker/vunit-cocotb.dockerfile

    - name: Login to DockerHub
      if: github.event_name != 'pull_request' && github.repository == 'ghdl/docker'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}

    - name: Docker push
      if: github.event_name != 'pull_request' && github.repository == 'ghdl/docker'
      run: |
        docker push ghdl/cosim:${IMG}-slim
        docker push ghdl/cosim:${IMG}
