name: 'ext'

on:
  push:
    paths:
      - 'run.sh'
      - 'cli/*'
      - '.github/workflows/ext.yml'
      - 'ls*.dockerfile'
      - 'gui.dockerfile'
  workflow_dispatch:
  repository_dispatch:
    types: [ ext ]

env:
  DOCKER_BUILDKIT: 1

jobs:


  ls:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3

    - name: Build images
      run: ./run.sh -l

    - name: Deploy to DockerHub
      if: github.event_name != 'pull_request' && github.repository == 'ghdl/docker'
      uses: pyTooling/Actions/with-post-step@r0
      with:
        main: |
          # Release
          echo '${{ secrets.DOCKER_PASS }}' | docker login docker.io -u '${{ secrets.DOCKER_USER }}' --password-stdin
          ./run.sh ext
        post: docker logout docker.io


  gui:
    needs: [ls]
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3

    - name: Build images
      run: ./run.sh -e gui

    - name: Deploy to DockerHub
      if: github.event_name != 'pull_request' && github.repository == 'ghdl/docker'
      uses: pyTooling/Actions/with-post-step@r0
      with:
        main: |
          # Release
          echo '${{ secrets.DOCKER_PASS }}' | docker login docker.io -u '${{ secrets.DOCKER_USER }}' --password-stdin
          ./run.sh ext
        post: docker logout docker.io
