name: 'vunit'

on:
  push:
    paths:
      - 'run.sh'
      - 'cli/*'
      - '.github/workflows/vunit.yml'
      - 'vunit.dockerfile'
  workflow_dispatch:
  repository_dispatch:
    types: [ vunit ]

env:
  DOCKER_BUILDKIT: 1

jobs:

  vunit:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v3

    - name: Build images
      run: ./run.sh -e vunit

    - name: Deploy to DockerHub
      if: github.event_name != 'pull_request' && github.repository == 'ghdl/docker'
      uses: pyTooling/Actions/with-post-step@r0
      with:
        main: |
          # Release
          echo '${{ secrets.DOCKER_PASS }}' | docker login docker.io -u '${{ secrets.DOCKER_USER }}' --password-stdin
          ./run.sh vunit
        post: docker logout docker.io

    - run: GHDL_BOT_TOKEN=${{ secrets.GHDL_BOT }} ./.github/trigger.sh ext
